@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

body {
    margin: 0px;
    padding: 0px;
}

.container {

    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;

}

.header-container {

    grid-column: 2 / 3;
    padding: 20px;

}

.top-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
     
}

.search-bar {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.utility-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}


.welcome-info {
    line-height: 10px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    align-items: center;
}

.sidebar {
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: 100px 1fr 2fr;
    color: white;
    background-color: rgb(25, 146, 212);

}

.sidebar-logo {
    font-size: 25px;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.dashboard-logo {
    fill: white;
    width: 50px;
}

.card {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 22px;
    margin: 10px 0px;
}

.card svg {
    width: 25px;
    fill: white;
}